<img src="/assets/img/burgerwaiter.jpg" alt="Server with burger" id="waiterimg">


<h1>Eat Da Burger!</h1>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  <li>{{this.id}}. {{this.burger_name}}</li>
  <button class="devour" data-id="{{id}}" data-devoured="{{devoured}}">Devour it!</button>
  {{/unless}}
  {{/each}}
</ul>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  <li>{{this.id}}. {{this.burger_name}}</li>
  {{/if}}
  {{/each}}
</ul>

<form class="create-form">

  <div class="form-group">
    <input type="text" id="newburg" name="newburg">
  </div>

  <button type="submit" class="addburg">Submit</button>

</form>

<h3>Enter a burger you wish to eat and click the "Submit" button.</h3>